[BlueStacks]
bluestacks_exe_path = C:\Program Files\BlueStacks_nxt\HD-Player.exe
bluestacks_instance_name = Nougat64_7
adb_path = C:\Program Files\BlueStacks_nxt\HD-Adb.exe
wait_for_startup_seconds = 10
adb_port = 5625

[RiseOfKingdoms]
rok_version = kr
activity_name = com.harry.engine.MainActivity
game_load_wait_seconds = 12
num_of_characters = 10
march_preset = 1
character_login_screen_loading_time = 3
perform_build = True
perform_donation = False

[OCR]
tesseract_path = C:\Program Files\Tesseract-OCR\tesseract.exe
text_region_x = 200
text_region_y = 0
text_region_width = 600
text_region_height = 150
preprocess_image = True

[Navigation]
avatar_icon_x = 50
avatar_icon_y = 50
settings_icon_x = 1109
settings_icon_y = 581
characters_icon_x = 350
characters_icon_y = 370
switch_char_icon_x = 812
switch_char_icon_y = 512
yes_button_x = 815
yes_button_y = 515
map_button_x = 65
map_button_y = 650
click_delay_ms = 1000

